.background {
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.background img {
  z-index: -100;
  width: 420px;
  min-height: 100svh;
  max-width: 100vh;
  object-fit: cover;
  position: fixed;
  overflow: hidden;
  top:0;

  filter: blur(4px);
  -webkit-filter: blur(4px);
}