#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-container {
  max-width: 500px;
  z-index: 100;
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
}

.Name h1 {
  color: #ff2740;
  font-size: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.Name h2 {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color:#68c8ff;
  text-shadow: 0 0 60px #ed4242;
}

.pfp {
  position: relative;
  width: 13rem;
  height: 13rem;
  border: 0.35rem solid #3a3a3a;
  background-color: #242424;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTA-Button {
  position: fixed;
  bottom: 2%;
  left: 0;
  width: 100vw;
}

.App-container button {
  font-size: 4rem;
  width: 90%;
  padding: 0.8rem;
  background-color: #00b7ff24;
  color: #f7f7f7;
  border: 0.2rem solid #ff939368;
  box-shadow: 0 0 100px #ff3131;
  overflow: hidden;
}

.pfpimg {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 10;
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
}

.pfpimg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 13, 255, 0.444);
  z-index: 20;
  mix-blend-mode:overlay;
}

.pfpimg-overlay2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(165, 19, 19, 0.31);
  z-index: 20;
  mix-blend-mode:exclusion;
}

.node-animation {
  position: fixed;
  height: fit-content;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.node {
  stroke: #000000;
  stroke-width: 50;
  fill: transparent;
}

circle {
  cursor: pointer;
}

line {
  stroke: #000000;
  stroke-width: 50;
}

.Active {
  fill: black;
}

circle.Active {
  transition: cx 650ms ease-in-out;
  -webkit-transition: cx 650ms ease-in-out;
  -moz-transition: cx 650ms ease-in-out;
  -ms-transition: cx 650ms ease-in-out;
  -o-transition: cx 650ms ease-in-out;
}

.card-container {
  position: fixed;
  top: 70px;
  width: 400px;
  margin-top: 0;
  z-index: 200;
}

.card {
  position: relative;
}

.triangle {
  position: absolute;
  margin: 0;
}

.box {
  position: absolute;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: -9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #242424;
}

.box a {
  border: 2px solid rgba(255, 7, 7, 0.265);
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 7, 7, 0.265);
  font-size: 1rem;
}

.link-stack {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  .Name h1 {
    color: #f73030;
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .App-container button {
    font-size: 8rem;
    width: 30rem;
    height: calc(100vh - 4%);
    padding: 0.8rem;
    background-color: #001cd529;
    color: #f7f7f7;
    border: 0.2rem solid #ff939368;
    box-shadow: 0 0 100px #ff3131;
  }

  .CTA-Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2%;
    left: 0;
  }
}